body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.outer-container{
  border-radius: 1rem;
  max-width: 80%;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 3px 3px 15px black;
}
.grid-container{
  border: 1px solid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2,1fr);
  
}