ul{
  /*  background-color: aqua;*/
}
.html{
position: relative;
top: 10px;
left: 20px;
inset: 20px;
position: unset;
}
.css{
    background-color: blueviolet;
    position: absolute;
    top: 10px;
    left: 10px;
}