*{
    margin: 0;
    padding: 0;
}

div{
    background-color: aqua;
    width: 50vw;
    height: 50vh;
    padding: 5vw;
    margin: 10vh;
    border-radius: 20vh;
    border: 1vw solid red;
}
p{
    background-color: chartreuse;
    width: 50%;
    height: 50%;

/* em &rem*/
font-size: 3rem;
padding: 0.5em;
}
