/* general styling*/
body{
    background-color: gainsboro;
    font-family: sans-serif;
    padding: 0cap;
}
/*header*/
h1{
    text-align: center;
    background-color: blueviolet;
}
/*content*/
.content{
    font-style: italic;
}
/*biography*/
.biography{
 color:blanchedalmond ;
padding: 20px;
 border:2px solid gray;
 border-style: dashed;
}
h2{
    text-align: center;
    color: rgb(65, 39, 6);
}
h2 ~ p{
    color: cadetblue;
    padding: 20px;

}
ul{
    border: 2px dotted;
    padding: 20px;
}
footer,p{
    color: black;
}