div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-image:url(./wiem-chatti-jVGEU0LbuyE-unsplash.jpg);
    background-size: cover;
    color: white;
    position: fixed;
    right: 0px;
}